# Composer files
composer.phar
vendor/

# Local configs
config/autoload/*.local.php

# Binary gettext files
*.mo

# Data
data/logs/
data/cache/
data/sessions/
data/tmp/
temp/

# Legacy ZF1
demos/
extras/documentation

# Public
public/administracao/mkt
public/documentos/arquivo
public/img
public/idealize/public/img/categoria
public/idealize/public/img/premiacao
public/idealize/public/img/regulamento
#public/img/banner
#public/img/banner_principal
#public/img/chamada
#public/img/colecao
#public/img/colecoes
#public/img/legenda
#public/img/linha
#public/img/linhas
#public/img/materia
#public/img/midia
#public/img/produto
#public/img/produtos
#public/img/texto

