@font-face {
  font-family: 'Gotham';
  src: url('../fonts/gotham-book-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/gotham-book-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/gotham-book-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/gotham-book-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/gotham-book-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/gotham-book-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
*{margin:0 auto;padding:0;list-style-type:none;}
ul.social{float:right;margin-top:4px;width:20%;}
ul.social li{display:inline;}
ul.social li a{color:#fff;padding-left:5px;float:right;}
ul.idiomas li{display:inline;padding-left:5px;}
ul.idiomas li a{margin-top:5px;cursor:pointer;}
form.filtros{float:left;width:100%;margin-top:13px;text-align:left;}
form.filtros ul{width:102%;}
form.filtros ul li{display:inline;}
form.filtros ul li select{background:url('../img/seta.png') no-repeat right #AAA5A2;overflow:hidden;height:27px;-webkit-appearance: none;color:#ffffff;width:16%;margin-right:1%;}
form.filtros ul li input{background:url('../img/lupa.png') no-repeat right #AAA5A2;overflow:hidden;height:27px;-webkit-appearance: none;color:#ffffff;border:none;padding-left:2%;width:11%;text-align:left;margin-right:-1%;}
ul.menu{float:left;font-size:12px;font-weight:bold;margin-top:10px;width:50%;}
ul.menu li{display:inline;padding-right:3%;}
ul.menu li a{color:#fff;text-decoration:none;}
footer{position:fixed;left:0px;bottom:0px;height:150px;width:100%;text-align:center;font-size:11px;padding:0;color:#fff;background:#60524F;}
footer .miniaturas{width: 100%;background: #fff;height:120px;margin-bottom:0.7%;overflow: hidden;padding-left:0.5%;}
footer .miniaturas .mini{float:left;margin: 0.4% 0.3% 0.4% 0;height:93%;width: 24.7%;}
footer .miniaturas .mini img{float:left;width:100%;height: 100%;}
footer .miniaturas .mini .texto{
 position:relative; top: 0;;
 left:0;	  
 background:#333;
 color:#fff;
 display: none;
 width:100%; 
 opacity: 0;
 -webkit-transition: all 300ms ease;
 -moz-transition: all 300ms ease;
 -ms-transition: all 300ms ease;
 -o-transition: all 300ms ease;
 transition: all 300ms ease;
}
footer .miniaturas .mini:hover .texto{
	height: 100%;
	display: block;
	opacity: 0.6;	
}

nav.navbar{background:#5C4E4B;}
/* IE 6 */
* html footer{position:absolute;top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');}



section.login{width: 500px;margin: 0 auto;border: 1px solid #c1c1c1;text-align: center;background: rgba(92, 78, 75, 0.8);padding: 10px;color: #fff;height: 400px;}
section.login img{float: left;width: 480px;margin-bottom: 20px;}
section.login h1{font-size: 24px;}
section.login form{margin: 0 auto;width: 50%;text-align: left;margin-top: 30px;}
section.login form label{margin-bottom: 5px;}
section.login form input[type=text]{width: 100%;height: 30px;padding: 5px;margin-bottom: 10px;}
section.login form input[type=password]{width: 100%;height: 30px;padding: 5px;margin-bottom: 20px;}
section.login form input[type=button]{margin: 40px 0 0 0;width: 100%;height: 30px;font-weight: bold;}
section.login form input[type=submit]{margin: 20px 0 0 0;width: 100%;height: 30px;font-weight: bold;}


section#areaadm{width: 100%;margin:0 auto;text-align: center;min-height: 580px;}
section#areaadm section.topo{float: left;width: 100%;padding: 10px;border-bottom: 1px solid rgba(92,78,75,0.8);}
section#areaadm section.topo table{width: 100%;float: left;text-align: left;}
section#areaadm section.topo table tr td img{float: left;width: 200px;border: none;margin-bottom: 20px;}
section#areaadm section.topo table tr td h1{float: left;font-size: 22px;font-weight: bold;font-family: 'Gotham';}
section#areaadm section.topo table tr td h2{float: right;font-size: 14px;font-weight: normal;font-family: 'Gotham';}
section#areaadm section.topo table tr td a{float: right;margin: 8px 0 0 0;}
section#areaadm section.conteudo{float: left;width: 100%;}
section#areaadm section.conteudo nav.menuadm{float: left;width: 18%;text-align: center;padding-bottom: 10px;}
section#areaadm section.conteudo nav.menuadm ul.menuadmconteudo{margin-top: 10px;}
section#areaadm section.conteudo nav.menuadm ul.menuadmconteudo li{width: 100%;padding: 2px;float: left;}
section#areaadm section.conteudo nav.menuadm ul.menuadmconteudo li:hover{background: rgba(92, 78, 75, 0.8);cursor: pointer;}
section#areaadm section.conteudo nav.menuadm ul.menuadmconteudo li a,section#areaadm section.conteudo nav.menuadm ul.menuadmconteudo li a:hover,section#areaadm section.conteudo nav.menuadm ul.menuadmconteudo li a:active,section#areaadm section.conteudo nav.menuadm ul.menuadmconteudo li a:visited{color: #000;text-decoration: none;}
section#areaadm section.conteudo nav.menuadm ul.menuadmconteudo li a:hover{color: #fff;}
section#areaadm section.conteudo section.formularios{float: right;width: 82%;text-align: left;padding:0 10px 10px 10px;border-left: 1px solid rgba(92,78,75,0.8);padding-left: 30px;min-height:460px;}
section#areaadm section.conteudo section.formularios h1{float: left;width: 100%;text-align: center;font-size: 16px;font-weight: bold;font-family: 'Gotham';margin-bottom:5%;text-transform: uppercase;background: rgba(92,78,75,0.8);padding: 10px 0;color: #fff;}

section#areaadm section.conteudo section.formularios table.tblLista{float: right;width: 48%;border: 1px solid rgba(92,78,75,0.8);text-align: center;}
section#areaadm section.conteudo section.formularios table.tblLista tr.titulo{font-weight: bold;background: rgba(92,78,75,0.2);height: 25px;font-size: 12px;}
section#areaadm section.conteudo section.formularios table.tblLista tr td{border: 1px solid rgba(92,78,75,0.8);}
section#areaadm section.conteudo section.formularios table.tblLista tr td.mini{width: 80px;}
section#areaadm section.conteudo section.formularios table.tblLista tr td.tdEditar{width: 60px;}
section#areaadm section.conteudo section.formularios table.tblLista tr td.tdApagar{width: 60px;}

section#areaadm section.conteudo section.formularios form{margin: 0 auto;width: 50%;text-align: left;float: left;}
section#areaadm section.conteudo section.formularios form label{margin-bottom: 5px;}
section#areaadm section.conteudo section.formularios form input[type=text]{height: 30px;width: 300px;padding: 5px;margin-bottom: 10px;}
section#areaadm section.conteudo section.formularios form input[type=email]{height: 30px;width: 300px;padding: 5px;margin-bottom: 10px;}
section#areaadm section.conteudo section.formularios form input[type=password]{height: 30px;width: 300px;padding: 5px;margin-bottom: 10px;}
section#areaadm section.conteudo section.formularios form input[type=file]{height: 30px;margin-bottom: 10px;}
section#areaadm section.conteudo section.formularios form select{height: 30px;padding: 5px;margin-bottom: 10px;width: 200px;}
section#areaadm section.conteudo section.formularios form textarea{height: 100px;padding: 5px;margin-bottom: 10px;width: 300px;}
section#areaadm section.conteudo section.formularios form input[type=checkbox]{margin-bottom: 10px;}
section#areaadm section.conteudo section.formularios form input[type=submit]{margin: 20px 0 0 0;width: 20%;height: 30px;font-weight: bold;}

section#areaadm section.rdpAdm{float: left;width: 100%;padding: 10px 0 0 0;text-align: center;border-top: 1px solid rgba(92,78,75,0.8);}
section#areaadm section.rdpAdm p{font-size: 12px;}
